#news_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  //align-items: center;

  & .post {
    width: 28%;
    //padding: 15px;
    //flex-basis: 20%;
    max-width: 28%;
    border: 1px solid #e8e8e8;
    color: #343434;
    line-height: 20px;
    flex-grow: 1;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    height: 300px;

    &__title {
      font-size: 22px;
      display: block;
      font-weight: 700;
    }
    &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.6);
      z-index: 2;
      transition: all .15s;
      opacity: 0;
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      display: flex;
    }

    &:hover .post__link {
      opacity: 1;
    }
    &__image {
      width: 100%;
      transition: transform .15s;

      &-wrapper {
        max-height: 200px;
        overflow: hidden;
      }
    }

    &.image-only {
      //background: #000;

      & .post__image {
        height: 100%;
        width: 100%;
        //width: auto;
      }

      & .post__image-wrapper {
        max-height: 100%;
        height: 100%;
      }
    }

    &:hover .post__image {
      transform: scale(1.2);
    }

    &__text {
      padding: 15px;
    }

    @media (min-width: 950px) {
      //width: 48%;
      //margin: 1%;
      //padding: 0;
    }

    @media (min-width: 1440px) {
      //width: 32%;
      //margin: 0.5%;
    }
  }

}