#news_block {
  display: flex;
  flex-wrap: wrap;
}

#news_block .post {
  width: 100%;
  padding: 15px;

  @media (min-width: 950px) {
    width: 48%;
    margin: 1%;
    padding: 0;
  }

  @media (min-width: 1440px) {
    width: 32%;
    margin: 0.5%;
  }
}
