#mail{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  .message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    img{
      width: 150px;
      height: 150px;
    }  
    .message_text{
      float: right;
      padding-left: 25px;
      padding-top: 30px;
      h3{
        font-size: 25pt;
        font-weight: 300;
        color: #0f0f0f;
      }  
      p{
        font-size: 11pt;
      }
    }    
  }      
}        
.not_visible_mail{
  display: none;
}
