@font-face {
  font-family: 'Hypatia Sans Pro';
  src: url('libs/fonts/HypatiaSansPro-Bold.WOFF');
  font-weight: 700;
}

@font-face {
  font-family: 'Hypatia Sans Pro';
  src: url('libs/fonts/HypatiaSansPro-Regular.WOFF');
  font-weight: 400;
}
