#mobile_menu {
  position: fixed;
  top: -105%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  transition: top 0.5s ease;

  @media (min-width: 750px) {
    display: none;
  }

  &.active {
    top: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    justify-content: center;
    height: calc(100vh - 10%);

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 30px;
      padding-bottom: 35px;

      &:hover {
        color: $pink;
      }
    }
  }

  .closer {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    transform: scale(0.5);
  }
}
