#menu {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @media (max-width: 970px) {
      justify-content: space-between;
      padding: 0 30px;
      align-items: center;
    }
  }

  nav {
    height: 100px;
    display: flex;
    align-items: stretch;

    @media (max-width: 970px) {
      display: none;
    }
  }

  nav {
    .subMenu {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        .list {
          max-height: 500px;
          border-top: 1px solid #474747;
          margin-top: 0;
        }
      }

      .menuItems {
        display: flex;
        align-items: center;
      }

      .list {
        position: absolute;
        top: 100px;
        margin-top: -1px;
        box-sizing: border-box;
        background: #fff;
        padding: 0 10px;
        width: 181px;
        border-top: 1px solid #fff;
        border-radius: 0 0 15px 15px;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        & a:first-child {
          padding-top: 20px;
        }

        & a:last-child {
          padding-bottom: 10px;
        }

        .list_elem {
          padding-bottom: 15px;
        }
      }

      .icon {
        content: ' ';
        width: 9px;
        height: 5px;
        background: url('images/sprite.png') no-repeat -8px -14px;
        margin-left: 10px;
      }
    }
  }

  nav a {
    text-decoration: none;
    color: $gray;
    font-size: 20px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
      color: $pink;
    }

    @media (max-width: 1770px) {
      font-size: 18px;
    }
  }

  .logo {
    @media (max-width: 1170px) {
      width: 120px;
    }
  }

  button {
    background: transparent;
    border: 2px solid;
    color: $pink;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: -14px;
    cursor: pointer;

    @media (min-width: 970px) {
      display: none;
    }
  }
}
