#price {
  background: #fff;
  text-align: center;
  padding-bottom: 50px;

  h3 {
    color: $dark_gray;
    padding-top: 50px;
    font-weight: 700;
    font-size: 36px;
  }

  h2 {
    color: $gray;
    padding-bottom: 50px;
    font-size: 60px;
  }

  .container {
    display: flex;
    justify-content: space-around;

    @media (max-width: 750px) {
      flex-direction: column;

      .price_elem {
        width: 270px;
        margin: 0 auto;
        margin-bottom: 25px;
      }
    }
  }

  .price_elem {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #f0f0f0;
    border-radius: 10px;

    .morning {
      padding: 35px 20px 0;

      h3 {
        color: $dark_blue;
        font-size: 32px;
        font-weight: 400;
        padding-top: 0;
        padding-bottom: 15px;
      }

      h4 {
        color: $dark_gray;
        font-size: 16px;
        padding-bottom: 35px;
      }

      h5 {
        color: #000;
        font-size: 22px;
        padding-bottom: 5px;
      }
    }

    .evening {
      background: $light_blue;
      padding: 25px 20px 0;

      h4 {
        color: $dark_gray;
        font-size: 16px;
        padding-bottom: 25px;
      }

      h5 {
        color: #000;
        font-size: 22px;
        padding-bottom: 5px;
      }
    }

    .time_wrap {
      display: flex;
      justify-content: space-around;
    }
  }

  .wrap_price {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;

    @media (max-width: 970px) {
      flex-direction: column;
    }

    .block_price {
      text-align: center;

      h3 {
        font-size: 18px;
        color: $dark_gray;
        padding-bottom: 15px;
      }

      h4 {
        font-size: 22px;
        color: #000;
        font-weight: 700;
      }
    }
  }
}
