| <?php
| /*
|  Template Name: Booking
| */?>
doctype html
html(lang!="RU-ru")
    head
        title!="<?php the_title();?>"
        include sections/header.jade
    body
        include sections/nav.jade
        include page/custom_head.jade
        include page/booking_content.jade
        include sections/footer.jade
        include sections/mobile_menu.jade

        include sections/script.jade