doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/nav.jade
    include sections/main.jade
    include sections/slider.jade
    include sections/interior.jade
    include sections/price.jade
    include sections/map.jade
    include sections/footer.jade
    include sections/mobile_menu.jade
    script!="window.main = true"
    include sections/script.jade