| <?php 
| /*
|  Template Name: Shares page
| */?>
doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body 
    include sections/nav.jade
    include page/custom_head.jade
    section#news_block
    include sections/footer.jade
    include sections/mobile_menu.jade
    script!="window.shares = true;"
    include sections/script.jade