section#main
  .container
    h1 Делимся пушистым счастьем!
    p!="В нашем антикафе вы можете пообщаться с котиками и <br> очаровательным енотиком Плутошей! :)"
    p!="Здесь вы можете поиграть и помурчать вместе с нашими <br> замечательными зверушками!"
    p!="В любой момент вы можете угоститься вкусным чаем, ароматным <br> зерновым кофе, печеньками и конфетами!"
    h3 Ежедневно с 10:00 до 22:00
    .adress
      .adress_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/geo.png")
        h5 г. Москва, ул.Викторенко, д.3
      .adress_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/phone.png")
        h5 8 (916) 377-5227
  img(src!="<?php echo get_template_directory_uri();?>/images/racoon_main.png").racoon
  img(src!="<?php echo get_template_directory_uri();?>/images/cat_main.png").cat
