#menu
  .content
    nav
      a(href="#") О нас
      a(href="#") Котики и енотики
      a(href="#") Цены
    a(href="#"): img(src!="<?php echo get_template_directory_uri();?>/images/logo.png").logo
    nav
      a(href="#") Сувениры
      a(href="#") Партнеры
      a(href="#") Контакты
    button#menu_opener Меню
