section#price
  h3 Наши
  h2 Цены
  .container
    .price_elem
      .morning
        h3 10:00 - 22:00
        h4 будние дни
        .time_wrap
          .time
            h5 7р
            h4 минута
          .time
            h5 420р
            h4 час
      .evening
        h4 выходные праздники
        .time_wrap
          .time
            h5 7р
            h4 минута
          .time
            h5 420р
            h4 час
  .container
    .wrap_price
      .block_price
        h3 стоп-чек
        h4 1000р
      .block_price
        h3 скидки игровым компаниям
        h4 спрашивать у администратора
